<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>End to End ML Prediction</title>
    <style type="text/css">
      body{
        width:90%;
        margin:0 auto;
      }
      #maindiv{
        text-align:center;
        border:1px solid blue;
        padding:5px;
      }
      h1 {color:blue}
    </style>  
  </head>
  <body>
    <div id="maindiv">
      <h1>Welcome</h1>
      <div>It is flask home,pretty good.</div>
      <div>
         <a href="/predictdata">学生成绩预测</a>
      </div>
    </div>
  </body>  
</html>
